@import 'components/card.css';

main {
    max-width: 1400px;
    margin: 48px auto;
    padding: 0 16px;
}

h2 {
    color: var(--primary);
    font-size: 1.8rem;
    margin: 0;
    font-weight: 800;
}

h2.center {
    text-align: center;
    margin-bottom: 16px;
}

section:not(.presentation) {
    margin-top: 64px;
}

section.presentation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px 56px;

    > img {
        width: 100%;
        max-width: 500px;
        min-height: 350px;
        object-fit: cover;
        object-position: center center;
        border-radius: 8px;
        box-shadow: -4px 4px 2px 2px rgba(255,186,96,0.8);
    }

    div.informations {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1 {
            font-size: 3rem;
            margin: 0 0 4px 0;
            font-weight: 1000;
            text-transform: uppercase;
            background-image: linear-gradient(
                    40deg,
                    var(--accent) 0%,
                    var(--accent) 8%,
                    var(--primary) 8%,
                    var(--primary) 40%,
                    var(--dark) 40%,
                    var(--dark) 60%,
                    var(--primary) 60%,
                    var(--primary) 90%,
                    var(--accent) 90%,
                    var(--accent) 100%
            );            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        span.dashicons {
            font-size: 1.2rem;
            vertical-align: text-top;
            color: var(--accent);
        }

        a {
            font-size: 1.2rem;
            text-decoration: none;
            margin-left: 4px;
            color: var(--dark);
            transition: color 0.1s linear;
            font-weight: 600;
        }

        a:hover {
            color: var(--primary);
        }

        div {
            p.address {
                margin: 0;
                font-size: 1.5rem;
                font-weight: 600;
                line-height: 1.1;

                span {
                    display: block;
                    text-transform: uppercase;
                    font-weight: 800;

                    img {
                        vertical-align: bottom;
                    }
                }
            }
        }
    }
}

section.stats {
    > ul {
        list-style: none;
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        gap: 24px;
        justify-content: center;
        align-content: start;
        justify-items: center;
        align-items: center;
        max-width: 850px;
        margin: 0 auto 48px auto;

        li {
            background: #ffff;
            display: flex;
            align-items: center;
            gap: 24px;
            padding: 12px 24px;
            width: 320px;
            border-radius: 8px;
            box-shadow: -4px 4px 2px 2px rgba(255,186,96,0.8);


            span {
                display: block;
                line-height: 0.9;
                font-size: 1.3rem;
                font-weight: 800;
                text-transform: uppercase;
            }

            span.number {
                font-size: 2.2rem;
                font-weight: 1000;
                letter-spacing: 1px;
                color: var(--primary);
            }

            img {
                width: 64px;
                max-height: 50px;
                object-fit: contain;
                object-position: center center;
            }
        }
    }
}

@media screen and (max-width: 728px) {
    section.stats ul li {
        min-width: auto;
    }
}